@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    button {
        @apply px-5 py-1 rounded-xl border border-black;
    }
}
